<a href="{{ path('admin_magenta_cbookmodel_book_book_organisation_orgchapter_subchapter_list',{'id': object.book.organisation.id,'childId':object.book.id,'childChildId':object.id}) }}" class="btn btn-primary" style="display: block;">Manage Sub-Sections</a>
<br/>
