{#<a href="{{ path('admin_magenta_cbookmodel_organisation_organisation_book_book_list',{'id':object.id}) }}" class="btn btn-primary" style="display: block;">Manage Books</a>#}
<br/>
{#{{ dump(object) }}#}
